* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    background-color: black;
    color: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);
    height: 80vh;
}

.logo {
    width: 12vw;
    padding: 18px 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    height: 10vh;
    padding-right: 30px;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 18px;
    gap: 10px;

}

.nav-list ul li {
    list-style: none;
    padding: 2px;
}

.btn {
    height: 30px;
    width: auto;
    padding: 10px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.btn-red{
    background-color: transparent;
    color: white;
    border: 0.5px solid grey;
}
.btn img {
    padding: 3px;
}
main{
    position: relative;
    background: black;
    overflow: hidden;
}
.hero{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border-bottom-left-radius: 40% 10%;
    border-bottom-right-radius: 40% 10%;
    margin-bottom: -6vh;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, 
    rgba(0, 0, 0, 0.4) 30%, 
    rgba(0, 0, 0, 0.6) 60%,  rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 1) 100%);
    border-bottom-left-radius: 40% 10%;
    border-bottom-right-radius: 40% 10%;
}
.main-section{
    position: absolute;
    top: 25vh;
    padding: 0px 80px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    color: white;
    text-align: left;
    z-index: 45;
}
.main-section h1{
    font-size: 56px;
    max-width: 700px;
    margin-bottom: 10px;
    
}
.main-section > p {
    font-size: 1.1rem;
    margin-bottom: 16px;
}
.mail-top{
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
.main-email{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.mail-top  input{
    width: 25vw;
    height: 50px;
    border-radius: 40px;
    text-align: left;
    padding: 0px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid gray;
    margin: 10px 0px;
    font-weight: bold;
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
}
.left-arrow{
    display: none;
}
.trending{
    padding: 65px 0;
    position: relative;
    color: white;
    background: black;
    z-index: 1;
}
.trending h3{
    padding: 2px 80px;
    margin-bottom: 5px;
}
.movie{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    padding: 0px 80px;
}
.movie button{
    height: 68px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    position:relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 12px;
    z-index: 3;
}
.number{
    position: absolute;
    top: 5px;
    left:-12px;
    font-size: 3.8rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    overflow: visible;
    z-index: 2;
    width: auto;
}
.movie ul {
    display: flex;
    list-style: none;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px 0;
}
.movie ul li{
    position: relative;
    flex-shrink: 0;
    padding-left: 10px; 
    margin-left: 10px;
}
.movie ul li img{
    width: 12vw;
    height: 40vh;
    border-radius: 14px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.movie ul li:hover img {
    transform: scale(1.05);
}

.more {
    background-color: black;
    height: auto;
    padding: 10px 80px;
    color: white;
}

.info ul {
    list-style: none;
    display: flex;
    gap: 9px;
    padding-top: 15px;
}

.info ul li {
    height: 33vh;
    width: 23vw;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(128, 128, 128, 0.119);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
}

.info div {
    padding-left: 8px;
}

.info p {
    color: gray;
    padding-top: 4px;
}

.info img {
    height: 44px;
    align-self: flex-end;
    padding-right: 14px;
    padding-top: 12px;
}

.questions {
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 80px;
    overflow-x: hidden;
}

.que {
    padding: 10px 0;
}

.que ul {
    list-style: none;
}

.que ul li {
    background-color: rgba(255, 255, 255, 0.1);
    height: 70px;
    width: 85vw;
    text-align: left;
    border: 2px solid rgba(128, 128, 128, 0.119);
    border-radius: 13px;
    margin: 6px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

}

.que li img {
    height: 22px;
    padding-right: 18px;
}

.mail {
    text-align: center;
    padding: 15px 20vw;
}

.email-button-class {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.email-button-class input {
    width: 25vw;
    height: 50px;
    border-radius: 40px;
    text-align: left;
    padding: 0px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid gray;
    margin: 0 6px;
    font-weight: bold;
    color: white;
}

.started {
    background-color: red;
    color: white;
    width: 18vw;
    height: 50px;
    border-radius: 40px;
    text-align: left;
    padding: 0 12px;
    border: 1px solid red;
    font-size: x-large;
    font-weight: bolder;
}

footer {
    background-color: black;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0;
    font-size: 21px;
}

.footer-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 80%;
    padding: 0px 80px;
}

footer ul {
    list-style: none;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;

}

footer ul li {
    text-decoration: underline;
}

.call {
    padding: 30px 80px;
    font-weight: 400;
    font-size: 16px;
}

.call span {
    text-decoration: underline;
}

.footButton {
    margin: 0px 80px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    background-color: black;
    border: 1px solid gray;
}

.last {
    padding: 10px 80px;
    font-size: small;
}